{% load comments i18n bootstrap3%}
<form action="{% comment_form_target %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ request.path }}" />
  {% for field in form %}
    {% if field.is_hidden %}
      {{ field }}
    {% else %}
        {% ifequal field.name "comment" %} {% bootstrap_field field %} {% endifequal %}
    {% endif %}
  {% endfor %}
  {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% trans "Post" %}
                </button>
  {% endbuttons %}
</form>