{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}{{ question.subject }}{% endblock %}
{% block content %}
    <div class="col-md-offset-1 col-md-10">
        <h1>{{ question.subject }}</h1>

        <p>Asked by {{ question.author }} on {{ question.timestamp }}</p>

        <p>{{ question.question | linebreaksbr }}</p>
        <hr>
    <div class="col-md-offset-1 col-md-10">
        <h2>Comments: </h2>
        <table class="table table-striped">
            {% for comment in comments %}
                <tr><td>
                    <p>{{ comment.author }} left at {{ comment.timestamp }}</p>
                    <p>{{ comment.comment | linebreaksbr }}</p>
                </td></tr>
            {% endfor %}
        </table>


        {% if request.user.is_authenticated %}
            <h3>You can leave your comment on this question in form below:</h3>
            <form method="post"
                  action="{% url 'add_comment' question_id=question.id %}">
                {% csrf_token %}
                {% bootstrap_form comment_form %}

                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %} Submit
                    </button>
                {% endbuttons %}
            </form>
        {% else %}
            <h3>If you want to leave your comment please
                <a href="{% url 'auth_login' %}?next={{ request.path }}">
                    Login</a></h3>
        {% endif %}
    </div>
    </div>
{% endblock %}